<html>
<head>
    <meta charset="utf-8">
    <title>게시글 작성</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='nse_files/js/HuskyEZCreator.js')}}" charset="utf-8"></script>
    <style type="text/css">
        iframe{
            width: 100%;
        }
        element.style{
            width: 100%;
        }
        .panel {
            text-align: center
        }
    
    </style>
</head>
<body>
    <div class="panel panel">
        <div class="panel panel-header">
            <h2>게시글 작성하기</h2>
        </div>
        <div class="panel panel-body">
            <form id="nse" name="nse" action="TEST" method="post">
                <textarea name="ir1" id="ir1" class="nse_content">  .. . .</textarea>
                <script type="text/javascript">
                var oEditors = [];
                nhn.husky.EZCreator.createInIFrame({
                    oAppRef: oEditors,
                    elPlaceHolder: "ir1",
                    sSkinURI: "{{ url_for('static', filename='nse_files/SmartEditor2Skin.html')}}",
                    fCreator: "createSEditor2"
                });
                function submitContents(elClickedObj) {
                    // 에디터의 내용이 textarea에 적용됩니다.
                    oEditors.getById["ir1"].exec("UPDATE_CONTENTS_FIELD", []);
                    // 에디터의 내용에 대한 값 검증은 이곳에서 document.getElementById("ir1").value를 이용해서 처리하면 됩니다.
            
                    try {
                        elClickedObj.form.submit();
                    } catch(e) {}
                    }
                </script>
                <input type="submit" value="전송" onclick="submitContents(this)" />
            </form>
        </div>
        <div class="panel panel-footer">
            <h4>i'm cloud</h4>
        </div>
        
    </div>
</body>
</html>