<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>연습용 페이지입니다</title>
</head>
<body>
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    {{ data[0] }}<br>
                    {{ data[1] }}
                </div>
                <div class="panel-footer">
                </div>
            </div>
        </div>
</body>
</html>